// custom.scss
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');
// All of your custom SCSS variables go first
$font-family-sans-serif: 'Montserrat', sans-serif;
// $primary: #467fd0;
// $success: #20c997;
// $danger: #df4759;
// $warning: #fd9644;
// $info: 	#17a2b8;
// $dark: #161c2d;
// $light: #1c2126;
// $dark-light: #fbfbfd;
// $body: #161a1f;
// $body-bg: #161a1f;
// $body-color: #f9fafa;
// $footer-name: #343a40;
// $footer-text: #868e96;
// $navbar-light-color: #f9fafa;
// $card-bg: #1c2126;
// $input-bg: #242a30;
// $input-color: #f9fafa;
// $input-border-width: 0px;
// $dropdown-bg: #1c2126;
// $dropdown-color: #f9fafa;
// $dropdown-link-color: #f9fafa;
// $custom-file-button-bg: #242a30;
// $nav-tabs-link-active-color: #f9fafa;
// $nav-tabs-link-active-bg: #161a1f;
// $nav-tabs-link-active-border-color: #161a1f;

$forevolve-green: #007f00;

// stylelint-disable
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$color-darker-percent-full: 20%;
$color-darker-percent-half: $color-darker-percent-full / 2;
$color-darker-percent-quarter: $color-darker-percent-half / 2;
$color-darker-percent-none: 0;

$blue:    lighten(#007bff, $color-darker-percent-half);
$indigo:  darken(#6610f2, $color-darker-percent-none);
$purple:  darken(#6f42c1, $color-darker-percent-none);
$pink:    darken(#e83e8c, $color-darker-percent-none);
$red:     darken(#dc3545, $color-darker-percent-none);
$orange:  darken(#fd7e14, $color-darker-percent-none);
$yellow:  lighten(#ffc107, $color-darker-percent-half);
$green:   darken(#28a745, $color-darker-percent-none);
$teal:    darken(#20c997, $color-darker-percent-none);
$cyan:    lighten(#17a2b8, $color-darker-percent-none);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $orange;
$danger:        $red;
$light:         $gray-300;
$dark:          $gray-800;

//$body-bg:       $gray-900; //#1E1E1E;
$body-bg:     #191d21;
$body-color:  #d3d3d3; //$gray-200; //#D4D4D4;

$yiq-text-dark: $gray-900;
$yiq-text-light: $gray-400;

$link-color:                darken($body-color, 15%);
// $link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
//$link-hover-decoration:     underline;


// Utilities (borders)
$border-color: $dark;

// Cards
$card-border-color:         rgba($white, .125);
$card-cap-bg:               rgba($white, .03);
// $card-color:                $gray-200;
$card-bg:                   $gray-900; //$body-bg ?

$nav-tabs-border-color:             rgba($white, .125);
$nav-tabs-link-hover-border-color:  $gray-700 $gray-700 $nav-tabs-border-color;
$nav-tabs-link-active-color:        $gray-100;
$nav-tabs-link-active-bg:           $body-bg;
$nav-tabs-link-active-border-color: $gray-700 $gray-700 $nav-tabs-link-active-bg;


$component-active-color:      $black;
$component-active-bg:         $primary;

// List group

$list-group-bg:                     rgba($body-bg, .05);
$list-group-border-color:           rgba($white, .125);

$list-group-hover-bg:               $gray-900;
$list-group-active-color:           $component-active-color;
$list-group-active-bg:              $component-active-bg;
$list-group-active-border-color:    $list-group-active-bg;

$list-group-disabled-color:         $gray-400;
$list-group-disabled-bg:            $list-group-bg;

$list-group-action-color:           $gray-300;
$list-group-action-hover-color:     $list-group-action-color;

$list-group-action-active-color:    $body-color;
$list-group-action-active-bg:       $gray-800;

// Forms
$input-bg:                              $black;
$input-disabled-bg:                     $gray-800;

$input-color:                           $gray-300;
$input-border-color:                    $gray-600;
$input-box-shadow:                      inset 0 1px 1px rgba($white, .075);

$input-focus-bg:                        $body-bg;
$input-focus-border-color:              lighten($component-active-bg, 25%);
$input-focus-color:                     $input-color;

$input-group-addon-color:               $input-color;
$input-group-addon-bg:                  $gray-800;
$input-group-addon-border-color:        $input-border-color;

$custom-select-color:               $input-color;
$custom-select-disabled-color:      $gray-400;
$custom-select-bg:                  $input-bg;
$custom-select-disabled-bg:         $gray-800;
$custom-select-indicator-color:     $gray-200;
$custom-select-box-shadow:          inset 0 1px 2px rgba($white, .075);
$custom-select-border-color:        $input-border-color;

// Modals
$modal-content-bg:              $body-bg;
$modal-content-border-color:    rgba($white, .2);
$modal-header-border-color:     $gray-800;
$modal-footer-border-color:     $modal-header-border-color;

$close-color:                   $white;
$close-text-shadow:             0 1px 0 $black;

// // Tables
// $table-bg:                    transparent;
// $table-accent-bg:             rgba($black, .05);
// $table-hover-bg:              rgba($black, .075);
// $table-active-bg:             $table-hover-bg;
$table-color:                 $body-color;
$table-border-color:          $border-color;
$table-hover-color:           $table-color;

// $table-head-bg:               $gray-200;
// $table-head-color:            $gray-700;

// $table-dark-bg:                 $gray-900;
// $table-dark-accent-bg:          rgba($white, .05);
// $table-dark-hover-bg:           rgba($white, .075);
// $table-dark-border-color:       lighten($gray-900, 7.5%);
// $table-dark-color:              $body-bg;
$table-dark-color:            $gray-300;

// $table-caption-color:         $text-muted;


// Jumbotron
$jumbotron-bg:                      $gray-800;

// HR
$hr-border-color:             rgba($white, .1);


// Toasts
//$toast-color:                       null;
$toast-background-color:            rgba($black, .85);
$toast-border-color:                rgba(255, 255, 255, .1);
$toast-box-shadow:                  0 .25rem .75rem rgba($white, .1);

$toast-header-color:                $gray-400;
$toast-header-background-color:     rgba($black, .85);
$toast-header-border-color:         rgba(255, 255, 255, .05);

// Dropdowns
//
$dropdown-color:                    $body-color;
$dropdown-bg:                       $black;
$dropdown-border-color:             rgba($white, .15);
$dropdown-divider-bg:               $gray-800;
$dropdown-box-shadow:               0 .5rem 1rem rgba($white, .175);

$dropdown-link-color:               $gray-100;
$dropdown-link-hover-color:         lighten($gray-100, 5%);
$dropdown-link-hover-bg:            $gray-900;

$dropdown-link-active-color:        $component-active-color;
$dropdown-link-active-bg:           $component-active-bg;

$dropdown-link-disabled-color:      $gray-400;

$dropdown-header-color:             $gray-400;

// Breadcrumbs
$breadcrumb-bg:                     $gray-800;
$breadcrumb-divider-color:          $gray-400;
$breadcrumb-active-color:           $gray-400;

// Pagination
$pagination-color:                  $link-color;
$pagination-bg:                     $black;
$pagination-border-color:           $gray-700;

$pagination-hover-color:            $link-hover-color;
$pagination-hover-bg:               $gray-800;
$pagination-hover-border-color:     $gray-700;

$pagination-active-color:           $component-active-color;
$pagination-active-bg:              $component-active-bg;
$pagination-active-border-color:    $pagination-active-bg;

$pagination-disabled-color:         $gray-400;
$pagination-disabled-bg:            $black;
$pagination-disabled-border-color:  $gray-700;

//then bootstrap & bootstrap-vue should be added after
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

:root {
  --ck-color-text: $input-color !important;
  --ck-color-toolbar-background: $input-bg !important;
  --ck-color-base-background: $input-bg !important;
  --ck-color-toolbar-border: $input-border-color !important;
  --ck-color-base-border: $input-border-color !important;
}

//all other custom scss files or css should be added here
body {
  .ck.ck-reset,
  .ck.ck-reset_all,
  .ck.ck-reset_all * {
    background-color: $input-bg !important;
    color: $input-color !important;
  }

  .ck.ck-editor__editable_inline {
    border-color: $input-border-color !important;
  }

  .page-form-header-top {
    text-align: center !important;
    text-transform: uppercase !important;
    letter-spacing: 4px !important;
    font-weight: bold !important;
    color: $secondary !important;
    margin: 1.5rem 0 2rem;
  }

  .button-form-auth {
    text-transform: uppercase !important;
    letter-spacing: 1.5px;
  }

  // .input-group > .input-group-prepend > .btn,
  // .input-group > .input-group-prepend > .input-group-text,
  // .input-group > .input-group-append:not(:last-child) > .btn,
  // .input-group > .input-group-append:not(:last-child) > .input-group-text,
  // .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
  // .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  //   background-color: transparent !important;
  // }

  .breadcrumb-item {
    font-size: 12px !important;
    letter-spacing: 2px !important;
  }

  .select2-dropdown {
    background-color: $input-bg !important;
    border-color: $input-border-color !important;
  }

  .select2-container {

    .select2-selection--single {
      background-color: $input-bg !important;
      border-color: $input-border-color !important;
      height: 38px !important;

      .select2-selection__rendered {
        height: 38px !important;
        line-height: 34px !important;
        padding-left: 12px !important;
        color: $input-color !important;
      }
    }

    .select2-search--dropdown {

      .select2-search__field {
        background-color: $input-bg !important;
        border-color: $input-border-color !important;
        color: $input-color !important;
      }
    }

    .select2-results__option[aria-selected=true] {
      background-color: $secondary !important;
    }

    .select2-selection--single {

      .select2-selection__arrow {
        height: 36px !important;
        right: 5px !important;
      }
    }
  }

  .breadcrumb-title, .navbar-brand {
    letter-spacing: 3px !important;
  }

  .navbar-light {

    .navbar-nav {

      .nav-item {

        &.active {

          .nav-link {
            color: $gray-500 !important;
            opacity: 1;
          }
        }

        .nav-link {
          color: $secondary !important;
          opacity: 0.7;

          &:hover, &:focus {
            opacity: 1;
          }
        }
      }
    }
  }

  .GMap__Wrapper {
    height: 450px !important;
  }

  // .btn-secondary {
  //   border-color: $body-bg !important;
  //   background-color: $body-bg !important;
  // }

  // .btn-outline-secondary {
  //   border-color: $body-bg !important;
  //   color: $body-color !important;
  //   opacity: 0.8;

  //   &:hover, &:focus {
  //     opacity: 1;
  //     background-color: $body-bg !important;
  //   }
  // }

  .pagination {

    .page-item {

      &.active {

        .page-link {
          color: $body-color;
          background-color: $body-bg;
          border-color: $body-bg;
        }
      }

      .page-link {
        color: $body-bg;
      }

      &.disabled {

        .page-link {
          color: $input-color;
          background-color: $input-bg;
          // border-color: $input-bg;
        }
      }

      .page-link {
        color: $input-color;
        background-color: $input-bg;
        // border-color: $input-bg;
      }
    }
  }

  // .form-control {

  //   &:disabled, &[readonly] {
  //     color: $input-bg !important;
  //   }
  // }

  // .nav-tabs {
  //   border: none !important;

  //   .nav-link {
  //     border-radius: 0.25rem !important;
  //     color: $nav-tabs-link-active-color !important;
  //     opacity: 0.7;

  //     &.active {
  //       opacity: 1 !important;
  //     }

  //     &:hover, &:focus {
  //       opacity: 1;
  //       border-color: transparent !important;
  //     }
  //   }
  // }
}

.outter-wrapper {

  .section-wrapper {
    position: relative;
    z-index: 1021;
    padding: 80px 0;

    &.bg-white {
      background-color: $light;
    }

    // &.bg-dark-white {
      // background-color: $dark-light;
    // }

    .sect-header {
      font-size: 54px;
      font-weight: bold;
      line-height: 70px;
      color: #463853;
      margin-bottom: 30px;
    }

    .sect-text {
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
      color: #998DA0;
      margin-bottom: 30px;
    }
  }
}

.footer {
  padding: 80px 0;
  background-color: $light;

  .footer-logo {
    width: 56px;
    height: 56px;
  }

  .text-brand {
    display: inline-block;
    margin-top: 5px;

    .name {
      font-size: 20px;
      font-weight: 600;
      // color: $footer-name;
      margin: 0;
      margin-bottom: 10px;
    }

    .text {
      font-size: 16px;
      font-weight: 600;
      // color: $footer-text;
      margin: 0;
    }
  }

  .text-footer {
    font-size: 16px;
    font-weight: 600;
    // color: $footer-text;
    line-height: 25px;
  }

  .cpyr-footer {
    font-size: 16px;
    font-weight: 600;
    // color: $footer-text;
  }

  .menu-title {
    font-size: 19px;
    font-weight: 600;
    margin: 0 0 20px 0;
    // color: $footer-name;
  }

  .nav-footer {

    .nav-item {
      margin-bottom: 10px;

      .nav-link {
        padding: 0;
        font-size: 16px;
        font-weight: 600;
        // color: $footer-text;
      }
    }
  }
}
